.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 800px;
  min-width: none;
  min-height: 900px;
  background:white;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 32px;
}
h2 {
  margin: 32px 0;
  color:black;
  font-size: 24px;
}
.complete {
  text-decoration: line-through;
  opacity: 0.4;
  
}
.todoClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000;
  background: linear-gradient(
    90deg,
    rgb(135, 206, 235)0%,
    rgb(159, 226, 191) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 80%;
}

.todoClass:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    #98c1d9 0%,
    #e0fbfc 100%
  );
}

.todoClass:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    #7DF9FF 0%,
    #ADD8E6 100%
  );
}

.todoClass:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    #6495ED 0%,
    #89CFF0 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete{
  margin-right: 10px;
  color:#1434A4;
  
}

.edit{
  
  color:#5D3FD3;

}
